* {
    background-color: white;
    margin: 5px;
}

.listing {
    border-radius: 4%;
    max-width: 500px;
    -webkit-box-shadow: 6px 3px 14px 3px rgba(1, 32, 3, 0.96);
    -moz-box-shadow: 6px 3px 14px 3px rgba(1, 32, 3, 0.96);
    box-shadow: 6px 3px 14px 3px rgba(1, 32, 3, 0.96);
}

.listing-heading {
    text-align: center;
}

.listing-description {
    margin-left: 5%;
    margin-right: 5%;
}

.listing-rating {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 18px;
}

.listing-photo {
    max-height: 220px;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.listing-share-button {
    background-color: rgb(39, 96, 54);
    color: rgb(220, 228, 235);
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 5%;
}

button:hover {
    cursor: pointer;
}

.listing-share-button:hover {
    background-color: rgb(83, 219, 68);
}

.listing-like-button, .listing-remove-button {
    border: none;
}

.listing-buy-href:visited {
    text-decoration: none;
    color: black;
}

.listing-buy-href {
    text-decoration: none;
    color: black;
}

.listing-buttons {
    text-align: center;
    margin-bottom: 10px;
}
