<div class="box">
    <div class="add_album">
        <span>New album</span>
        <input type="text" [(ngModel)]="newAlbum.userId" placeholder="Enter user id">
        <input type="text" [(ngModel)]="newAlbum.title" placeholder="Enter album title" class="input_title">
        <button (click)="createAlbum()">Create</button>
    </div>
    <div class="title">Albums list</div>
    <div class="albums_box">
        <div *ngFor="let album of albums" class="album_item">
            <div class="album_top">{{album.id}}
                <span (click)="removeAlbum(album.id)">Delete</span>
            </div>
            <div class="album_details">
                <span>User ID: {{album.userId}}</span>
                <span>Title: {{album.title}}</span>
            </div>
            <a [routerLink]="['/albums-component', album.id]" class="album_open">Open</a>
        </div>
    </div>
</div>