button {
    margin-left: 15%;
    font-size: 200%;
    color: antiquewhite;
    padding: 10px;
    margin-bottom: 30px;
    width: 300px;
    text-align: left;
}

button:hover {
    background-color: rgb(100, 94, 86);
    cursor: pointer;
}

h1, h2 {
    margin: auto;
    text-align: center;
    color: aliceblue;
    margin-bottom: 15px;
}

h2 {
    color:rgb(169, 169, 169);
}
