.top {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.top::after {
    content: "";
    display: block;
    width: 96%;
    border-bottom: 1px solid #bebebe;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.logo .material-icons {
    padding: 10px;
    margin-right: 10px;
    background: rgb(136, 127, 136);
    border-radius: 7px;
    color: #fff;}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 15px;
}